In [1]:
import psycopg2 as pg2

In [11]:
conn = pg2.connect(database='dvdrental', user='postgres',password='**')

In [12]:
cur = conn.cursor()

In [13]:
cur.execute('SELECT * FROM payment')

In [14]:
cur.fetchone()

(17503,
 341,
 2,
 1520,
 Decimal('7.99'),
 datetime.datetime(2007, 2, 15, 22, 25, 46, 996577))

In [15]:
cur.fetchmany(15) #cur.fetchall to get all the data

[(17504,
  341,
  1,
  1778,
  Decimal('1.99'),
  datetime.datetime(2007, 2, 16, 17, 23, 14, 996577)),
 (17505,
  341,
  1,
  1849,
  Decimal('7.99'),
  datetime.datetime(2007, 2, 16, 22, 41, 45, 996577)),
 (17506,
  341,
  2,
  2829,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 19, 19, 39, 56, 996577)),
 (17507,
  341,
  2,
  3130,
  Decimal('7.99'),
  datetime.datetime(2007, 2, 20, 17, 31, 48, 996577)),
 (17508,
  341,
  1,
  3382,
  Decimal('5.99'),
  datetime.datetime(2007, 2, 21, 12, 33, 49, 996577)),
 (17509,
  342,
  2,
  2190,
  Decimal('5.99'),
  datetime.datetime(2007, 2, 17, 23, 58, 17, 996577)),
 (17510,
  342,
  1,
  2914,
  Decimal('5.99'),
  datetime.datetime(2007, 2, 20, 2, 11, 44, 996577)),
 (17511,
  342,
  1,
  3081,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 20, 13, 57, 39, 996577)),
 (17512,
  343,
  2,
  1547,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 16, 0, 10, 50, 996577)),
 (17513,
  343,
  1,
  1564,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 16, 1, 15, 33, 996577)),
 (17514,
  343,
  2,
  1879,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 17, 1, 26, 0, 996577)),
 (17515,
  343,
  2,
  1922,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 17, 4, 32, 51, 996577)),
 (17516,
  343,
  2,
  2461,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 18, 18, 26, 38, 996577)),
 (17517,
  343,
  1,
  2980,
  Decimal('8.99'),
  datetime.datetime(2007, 2, 20, 7, 3, 29, 996577)),
 (17518,
  343,
  1,
  3407,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 21, 14, 42, 28, 996577))]

In [16]:
data= cur.fetchmany(5)

In [17]:
data[0][4]

Decimal('3.99')

In [18]:
conn.close()

In [19]:
#https://wiki.postgresql.org/wiki/Psycopg2_Tutorial